
DIM1/

DIM-1/

data/

*.dat_old

playerdata/

poi/

stats/

*.lock

advancements/

region/r.0.1.mca

region/r.1.-1.mca

region/r.1.0.mca

region/r.1.1.mca

region/r.2.2.mca

region/r.2.3.mca

region/r.3.2.mca

region/r.-1.-1.mca

region/r.-1.0.mca

region/r.-1.1.mca

region/r.0.-1.mca
